<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href='{% static "main.css" %}'>
    </head>
    <body>
      <nav class="navbar is-danger">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
               <strong>レオのブログ</strong>
            </a>
        </div>      
      </nav>
      <h1>ログアウトしました。</h1>
    </body>    
</html>
